body {
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.grid1 {
    display: grid;
    grid-template: auto auto auto / auto;
    grid-template-areas:
        "title"
        "subtitle"
        "searchbar"
}